body {
	font-family: 'DungGeunMo', sans-serif;
}

@font-face {
	font-family: 'DungGeunMo';
	src:url('./font/DungGeunMo.eot') format('embedded-opentype'),
		url('./font/DungGeunMo.woff') format('woff'),
        url('./font/DungGeunMo.woff2') format('woff2')
  }

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }

  .menu {
	margin: 10px 0;
  }

  #settings_back:hover, #settings_ok:hover, #htp_back:hover, #start_back:hover {
	opacity: 0.8;
  }

  #difficult_set,
  #setting_screen,
  #how_to_play_screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
  }

  #bgm_checkbox, #infL_checkbox {
	display: none;
  }

  #left_character {
	position: absolute;
	left: 50px; /* 왼쪽 캐릭터 이미지의 왼쪽 여백 */
	top: 650px;
	transform: translateY(-50%); /* 세로 중앙 정렬 */
	overflow: hidden;
  }

  #right_character {
	position: absolute;
	right: 50px; /* 오른쪽 캐릭터 이미지의 오른쪽 여백 */
	top: 650px;
	transform: translateY(-50%); /* 세로 중앙 정렬 */
	overflow: hidden;
  }

  #start_back {
	padding: 30px;
  }

  #prev_img, #next_img {
	cursor: pointer;
  }
  
  #prev_img:hover, #next_img:hover {
	opacity: 0.7;
  }

  #htp_buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	text-align: center;
  }
  
  #htp_buttons img {
	margin: 10px auto;
  }

  