body {
	font-family: 'DungGeunMo', sans-serif;
}

@font-face {
	font-family: 'DungGeunMo';
	src:url('./font/DungGeunMo.eot') format('embedded-opentype'),
		url('./font/DungGeunMo.woff') format('woff'),
        url('./font/DungGeunMo.woff2') format('woff2')
  }

* {margin: 0; 
  padding: 0;}

body {width:1200px;
  margin: 0 auto;}

#comic-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

#comic-image {
  max-width: 85%;
  /* max-height: 100%; */
}

#prev_img, #next_img {
  cursor: pointer;
}

#prev_img:hover, #next_img:hover, #skip-button:hover {
  opacity: 0.7;
}

#skip-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}